{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!--    <h1>Hello</h1>-->

       <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">New</a>
      <a class="flex-sm-fill text-sm-center nav-link disabled" aria-disabled="true">All Numbers</a>
    </nav>
    <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>



    <form>
            <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="input Name">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Second Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="input Second Name">
    </div>
        <div class="input-group flex-nowrap">
      <label for="phoneInput" class="form-label">Phone</label>
     <span class="input-group-text" id="addon-wrapping">+380</span>
     <input type="text" class="form-control" placeholder="99 123 45 67" aria-label="Phone Number" aria-describedby="addon-wrapping" id="phoneInput">
    </div>
    <div class="input-group mb-3">
        <label for="inputGroupFile02" class="form-label marg">Photo</label>
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    </form>

    <div class="grid text-center">
      <div class="g-col-6">
         <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

      <div class="g-col-6">.g-col-6</div>


      <div class="g-col-6">.g-col-6</div>
      <div class="g-col-6">.g-col-6</div>
    </div>



    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

</body>
</html>

