<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6xl6jYD5NH1L8ABqxCZQCkBHiIm/oY95Dm+ah4u/6H6i/k+pG69R6fh" crossorigin="anonymous"></script>
</head>

{% extends 'layout.html' %}

{% block body %}

{% for i in data %}
<div class="card" style="width: 18rem;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'delete' i.id i.name %}">Delete</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Edit</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>





<!-- <img src="…" class="card-img-top" alt="…"> -->
<img class="card-img-top" width="100" height="200" src = "{{i.photo}}"
<div class="card-body">
    <h5 class="card-title">{{ i.name }}{{ i.surname }}</h5>
    <p class="card-text">{{ i.phone_number }}</p> <!-- <a href="=" class="btn btn-primary">Go somewhere</a> -->
    <a href="tel:{{ i.phone_number }}" class="btn">Зателефонувати</a>
</div>
</div>

<!--    <p>-->
<!--    <div>{{i.name}} {{i.last_name}}</div>-->
<!--    <p>{{ i.number }}</p>-->
<!--    <img src="{{ i.photo }}">-->

<!--<div class="grid text-center">-->
<!--  <div class="g-col-6"><img src="{{ i.photo }}"></div>-->
<!--  <div class="g-col-6">{{ i.number }}</div>-->
<!--  <div class="g-col-6">{{i.name}} {{i.last_name}}</div>-->


<!--  <div class="g-col-6">.g-col-6</div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->
<!--</div>-->
{% endfor %}
<div class="grid text-center" style="display: grid">
  <div class="g-col-6" style="width=100px;">.g-col-6</div>
  <div class="g-col-6" style="width=100px;">.g-col-6</div>

  <div class="g-col-6">.g-col-6</div>
  <div class="g-col-6">.g-col-6</div>
</div>
<!--<div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->

<!--  <div class="g-col-6">.g-col-6</div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->
<!--</div>-->
<!--<div >-->
<!--  <div class="g-col-3 g-start-2">.g-col-3 .g-start-2</div>-->
<!--  <div class="g-col-4 g-start-6">.g-col-4 .g-start-6</div>-->
<!--</div>-->
<!--<div class="grid text-center" style="&#45;&#45;bs-rows: 3; &#45;&#45;bs-columns: 3;">-->
<!--  <div>Auto-column</div>-->
<!--  <div class="g-start-2" style="grid-row: 2">Auto-column</div>-->
<!--  <div class="g-start-3" style="grid-row: 3">Auto-column</div>-->
<!--</div>-->
<!--<div class="grid text-center" style="&#45;&#45;bs-gap: .25rem 1rem;">-->
<!--  <div class="g-col-6">.g-col-6</div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->

<!--  <div class="g-col-6">.g-col-6</div>-->
<!--  <div class="g-col-6">.g-col-6</div>-->
<!--</div>-->

<!--<div> style="&#45;&#45;bs-columns: 18; &#45;&#45;bs-gap: .5rem;">-->
<!--  <div style="grid-column: span 14;">14 columns</div>-->
<!--  <div class="g-col-4">.g-col-4</div>-->
<!--</div>-->
{% endblock %}
{% block titel %}
Contacts
{% endblock %}



<!--<script>-->

<!--</script>-->

</body>
</html>