<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->

<!--</head>-->
<!--<body>-->



{% extends 'layout.html' %}

{% block body %}

{% for i in data %}
    <div>{{i.name}} {{i.last_name}}</div>
    <p>{{ i.number }}</p>
    <img src="{{ i.photo }}">
{% endfor %}

{% endblock %}
{% block titel %}
Contacts
{% endblock %}



<!--<script>-->

<!--</script>-->

<!--</body>-->
<!--</html>-->